OLD
library/NO
library/common/NO
library/common/bin/**/*
library/common/gen/*

library/task/vanilla/bin/**/*
library/task/vanilla/gen/*
library/task/roboguiced/bin/*
library/task/roboguiced/gen/*

library/utils/vanilla/NO
library/utils/vanilla/bin/**/*
library/utils/vanilla/gen/*
library/utils/roboguiced/NO
library/utils/roboguiced/bin/**/*
library/utils/roboguiced/gen/*

library/utils/vanilla/NO
library/utils/vanilla/NO_2
library/utils/roboguiced/bin/**/*
library/utils/roboguiced/gen/*

demo/vanilla/bin/**/*
demo/vanilla/gen/*
demo/roboguiced/bin/**/*
demo/roboguiced/gen/*
demo/roboguiced/values_no
demo/test_demo-utils/bin/**/*
demo/test_demo-utils/gen/*

.umlproject
demo/test_demo-utils/libs/*.jar
demo/roboguiced/libs/*.jar
demo/vanilla/libs/*.jar
library/task/roboguiced/libs/*.jar
library/task/vanilla/libs/*.jar
library/utils/roboguiced/libs/*.jar
library/utils/vanilla/libs/*.jar
library/common/libs/*.jar
